@import './variable';

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    padding: 30px 90px;
    padding-bottom: 10px;
    background-color: white;

    div {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    div h1 a {
        color: $text-colour;
        font-size: 1.5em;
        text-decoration: none;
    }

    .header-ul {
        display: flex;
        list-style-type: none;
        gap: 2em;
    }

    .header-ul li a {
        text-decoration: none;
        color: $text-colour;
        font-size: 1.2rem;
    }
}

.header-icon {
    border: 2px solid black;
    padding: 10px 13px;
    background-color: white;
    display: none;
}

@media(max-width:1144px) {
    .header-ul {
        display: none !important;
    }

    div h1 {
        color: black !important;
    }

    .header-icon {
        display: block !important;
    }

    header {
        padding: 20px 10px;

        div h1 a {
            color: $text-colour;
            font-size: 1.2em;
            text-decoration: none;
        }
    }


}



.hero-section {
    padding: 100px;
    padding-bottom: 20px;
    background-color: $bg-colour;

    .item-flex {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .hero-text {
        padding-bottom: 40px;
        display: inline-flex;
        flex-direction: column;
        align-items: start;
        justify-content: center;
    }

    .hero-text-header {
        font-size: 80px;
        font-family: Inter, sans-serif;
        font-weight: 600;
        color: #1D1D1D;
        max-width: 500px;
        line-height: 98px;

    }

    .hero-text-header span {
        color: #7C58FE;
    }

    .hero-text img {
        margin-bottom: 50px;
    }

    .hero-text button {
        padding: 23px 55px;
        border: none;
        background-color: white;
        border-radius: 50px;
        margin-bottom: 50px;
        max-width: 300px;
    }

    .hero-text button a {
        font-family: "Nunito Sans", sans-serif;
        font-weight: 600;
        font-size: 20px;
        color: #1D1D1D;
        text-decoration: none;
    }


    .social {
        display: flex;
        gap: 2em;
        align-items: end;

        a {
            text-decoration: none;

        }

        .fa-brands {
            font-size: 30px;
            color: #9680BD;
        }
    }

}




@media(max-width:1220px) {

    .hero-section {
        padding: 50px 20px;
        padding-bottom: 20px;
        background-color: $bg-colour;

    }
}


@media(max-width:1025px) {
    .hero-section {

        .hero-text-header {
            font-size: 60px;
            font-family: Inter, sans-serif;
            font-weight: 600;
            color: #1D1D1D;
            max-width: 500px;
            line-height: 78px;

        }

        .hero-text-header span {
            color: #7C58FE;
        }

        .hero-text img {
            margin-bottom: 50px;
        }

    }
}

@media(max-width:954px) {
    .hero-section {
        .image {
            display: none;
        }


        .hero-text-header {
            font-size: 60px;
            font-family: Inter, sans-serif;
            font-weight: 600;
            color: #1D1D1D;
            max-width: 600px;
            line-height: 78px;

        }

        .hero-text-header span {
            color: #7C58FE;
        }

        .hero-text img {
            margin-bottom: 50px;
            width: 300px;
        }



    }



}


@media(max-width:425px) {
    .hero-section {
        .image {
            display: none;
        }


        .hero-text-header {
            font-size: 50px;
            font-family: Inter, sans-serif;
            font-weight: 600;
            color: #1D1D1D;
            max-width: 600px;
            line-height: 68px;

        }
    }
}

.about-me {
    padding: 100px 20px;
    background-color: $aboutme-bg;

    .about-wrapper {
        max-width: 1240px;
        margin-right: auto;
        margin-left: auto;
    }

    .about-header {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .about-header h1 {
        font-family: "Source Sans Pro", sans-serif;
        font-size: 40px;
        color: #111111;
        font-weight: 700;
        margin-bottom: 20px;
    }

    .about-header p {
        font-family: "Source Sans Pro", sans-serif;
        font-size: 20px;
        color: #555555;
        font-weight: 500;
        margin-bottom: 25px;
        max-width: 900px;
        text-align: center;
        line-height: 32px;
        padding-bottom: 50px;
    }


    .about-header span {
        border-radius: 20px;
        height: 7px;
        width: 50px;
        background-color: #7C58FE;
        margin-bottom: 20px;
    }

    .aboutme-flex {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 80px;
    }

    .aboutme-text1 {
        font-family: "Source Sans Pro", sans-serif;
        font-size: 28px;
        font-weight: 700;
        margin-bottom: 30px;
    }

    .aboutme-text2 {
        font-family: "Source Sans Pro", sans-serif;
        font-size: 18px;
        font-weight: 700;
        line-height: 30px;
        color: #666666;
    }

    .aboutme-text2 strong {
        color: black;
    }

    .skills-box h1 {
        font-family: "Source Sans Pro", sans-serif;
        font-size: 28px;
        font-weight: 700;
        line-height: 30px;
        margin-bottom: 30px;
    }

    .skill-grid {
        display: flex;
        flex-wrap: wrap;
    }

    .skill-box1 {
        padding: .9rem 1.9rem;
        margin-bottom: 1.5rem;
        margin-right: 1.5rem;
        background: $bg-colour;
        border-radius: 5px;
    }

    .skill-box1 p {
        font-size: 16px;
        font-weight: 600;
        color: #666666;
        font-family: "Source Sans Pro", sans-serif;
    }

}

@media(max-width:1024px) {
    .about-me {
        padding: 80px 20px;
        background-color: $aboutme-bg;

        .aboutme-flex {
            display: grid;
            grid-template-columns: 1fr;
            grid-column-gap: 80px;
            grid-row-gap: 80px;
        }

        .about-header p {
            font-family: "Source Sans Pro", sans-serif;
            font-size: 18px;
            color: #555555;
            font-weight: 500;
            margin-bottom: 25px;
            max-width: 900px;
            text-align: center;
            line-height: 32px;
            padding-bottom: 50px;
        }

        .skill-box1 {
            padding: .8rem 1.9rem;
            margin-bottom: 1.5rem;
            margin-right: 1.5rem;
            background: $bg-colour;
            border-radius: 5px;
        }

        .skill-box1 p {
            font-size: 14px;
            font-weight: 600;
            color: #666666;
            font-family: "Source Sans Pro", sans-serif;
        }
    }
}



.third-section {
    max-width: 1240px;
    margin-right: auto;
    margin-left: auto;
    padding: 100px 20px;

    .thirdsect-h1 {
        font-size: 40px;
        font-weight: 600;
        text-align: center;
        margin-bottom: 50px;
    }

    .grid-box {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-column-gap: 70px;
        grid-row-gap: 70px;
    }

    .grid-box1 {
        border: 2px solid $bg-colour;
        padding: 50px 20px;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .icon-wrapper {
        border-radius: 50%;
        width: 90px;
        height: 90px;
        background-color: $bg-colour;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 30px;
    }

    .icon-wrapper img {
        width: 75px;
    }

    .icon-wrapper1 {
        border-radius: 50%;
        width: 90px;
        height: 90px;
        background-color: $bg-colour;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 30px;
    }

    .icon-wrapper1 img {
        width: 60px;
    }

    .grid-box1 h1 {
        font-size: 26px;
        font-weight: 600;
        margin-bottom: 20px;
    }

    .grid-box1 p {
        font-size: 20px;
        font-weight: 400;
        line-height: 30px;
    }
}


@media(max-width:1134px) {
    .third-section {
        max-width: 1240px;
        margin-right: auto;
        margin-left: auto;
        padding: 100px 20px;

        .thirdsect-h1 {
            font-size: 37px;
            font-weight: 600;
            text-align: center;
            margin-bottom: 50px;
        }

        .grid-box {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-column-gap: 50px;
            grid-row-gap: 50px;
        }

        .grid-box1 {
            border: 2px solid $bg-colour;
            padding: 50px 20px;
            text-align: center;
        }

        .icon-wrapper {
            border-radius: 50%;
            width: 90px;
            height: 90px;
        }

        .icon-wrapper img {
            width: 75px;
        }

        .icon-wrapper1 {
            border-radius: 50%;
            width: 90px;
            height: 90px;
        }

        .icon-wrapper1 img {
            width: 60px;
        }

        .grid-box1 h1 {
            font-size: 26px;
            font-weight: 600;
            margin-bottom: 20px;
        }

        .grid-box1 p {
            font-size: 20px;
            font-weight: 400;
            line-height: 30px;
        }
    }


}

@media(max-width:767px) {
    .third-section {

        .thirdsect-h1 {
            font-weight: 600;
            text-align: center;
            margin-bottom: 50px;
        }

        .grid-box {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-column-gap: 30px;
            grid-row-gap: 40px;
        }

        .icon-wrapper {
            border-radius: 50%;
            width: 80px;
            height: 80px;
        }

        .icon-wrapper img {
            width: 70px;
        }

        .icon-wrapper1 {
            border-radius: 50%;
            width: 80px;
            height: 80px;
        }

        .icon-wrapper1 img {
            width: 50px;
        }

        .grid-box1 h1 {
            font-size: 24px;
            font-weight: 600;
            margin-bottom: 20px;
        }

        .grid-box1 p {
            font-size: 20px;
            font-weight: 400;
            line-height: 30px;
        }
    }



}


@media(max-width:654px) {
    .third-section {

        .thirdsect-h1 {
            font-size: 30px;
            font-weight: 600;
            text-align: center;
            margin-bottom: 40px;
        }

        .grid-box {
            display: grid;
            grid-template-columns: 1fr;
            grid-column-gap: 30px;
            grid-row-gap: 40px;
        }

        .grid-box1 {
            border: 2px solid $bg-colour;
            padding: 40px 20px;
            text-align: center;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        .icon-wrapper {
            border-radius: 50%;
            width: 80px;
            height: 80px;
            background-color: $bg-colour;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 20px;
        }

        .icon-wrapper img {
            width: 70px;
        }

        .icon-wrapper1 {
            border-radius: 50%;
            width: 80px;
            height: 80px;
            background-color: $bg-colour;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 20px;
        }

        .icon-wrapper1 img {
            width: 50px;
        }

        .grid-box1 h1 {
            font-size: 22px;
            font-weight: 600;
            margin-bottom: 20px;
        }

        .grid-box1 p {
            font-size: 18px;
            font-weight: 400;
            line-height: 26px;
        }
    }



}

.fourth-section{
    padding: 100px 20px;
    background-color: #Fafafa;
}
.portfolio-header{
    font-size: 46px;
    margin-bottom: 50px;
    padding-bottom: 40px;
            font-weight: 700;
            line-height: 20px;
         text-align: center;
            font-family: "Source Sans Pro", sans-serif;

}
.section-wrapper{
    max-width: 1230px;
    margin-left: auto;
    margin-right: auto;
}

.portfolio-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 40px;
    grid-row-gap: 40px;
}
.portfolio-box{
    background-color: white;
    box-shadow: 2px 2px rgb(241, 239, 239, 0.4);
    border-radius: 14px;
    padding: 0px 0px;
    padding-bottom: 20px;
    

}
.portfolio-box img{
    width: 385px;
    border-top-left-radius: 15px;
    border-top-right-radius: 14px;
}

.box1 img{
    width: 360px;
    border-top-left-radius: 15px;
    border-top-right-radius: 14px;
}
.portfolio-box h1{
    padding: 10px 20px;
    font-size: 26px;
            font-weight: 700;
            font-family: "Source Sans Pro", sans-serif;
}
.portfolio-box p{
    padding: 10px 20px;
    font-size: 16px;
            font-weight: 400;
            line-height: 30px;
            font-family: "Source Sans Pro", sans-serif;
}

.portfolio-box a{
    padding: 10px 20px;
    font-size: 16px;
            font-weight: 400;
            line-height: 20px;
           color: blue;
            font-family: "Source Sans Pro", sans-serif;
}














.fifth-section {
    padding-top: 100px;
    padding: 50px;
    background-color: $aboutme-bg;

    .past-education {
        text-align: center;
    }

    .past-education-h1 {
        font-size: 32px;
        color: black;
        font-weight: 600;
    }

    .school-grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 2em;
        padding: 50px;
    }

    .sch {
        border-right: 2px solid $bg-colour;
    }

    .school-p1 {
        font-size: 18px;
        font-weight: 600;
        color: $second-sect-color;
        margin-bottom: 7px;
    }

    .school-p1 span {
        font-size: 24px;
        font-weight: 900;
        color: black;
    }

    .school-h1 {
        font-size: 32px;
        color: black;
        font-weight: 600;
        margin-bottom: 7px;
    }

    .ul {
        padding-left: 30px;
    }

    .ul li {
        font-size: 17px;
        font-weight: 400;
        color: black;
        list-style-type: disc;
    }
}


@media(max-width:1024px) {
    .fifth-section {
        padding-top: 100px;
        padding: 10px;
        background-color: $aboutme-bg;

        .school-grid {
            display: grid;
            grid-template-columns: 1fr;
            gap: 2em;
            padding: 10px;

        }

        .sch {
            border-right: none;
            padding-bottom: 30px;
            border-bottom: 2px solid $bg-colour;
        }

        .past-education-h1 {
            font-size: 28px;
            color: black;
            font-weight: 600;
        }

        .school-h1 {
            font-size: 26px;
            color: black;
            font-weight: 600;
            margin-bottom: 7px;
        }


    }
}

@media(max-width:520px) {
    .fifth-section {
        padding-left: 0px;

        .past-education-h1 {
            font-size: 20px;
            color: black;
            font-weight: 600;
        }
    }
}




footer {
    padding-top: 50px;
    border-top: 2px solid $bg-colour;
    padding-bottom: 0px;

    .footer {
        display: flex;
        justify-content: space-around;
        gap: 2em;
    }


    .wrap-text {
        padding-top: 12px;

        h1 {
            font-size: 30px;
            color: black;
            font-weight: 600;
            margin-bottom: 10px;
        }

        p {
            font-size: 17px;
            font-weight: 400;
            color: black;
            max-width: 500px;
            margin-bottom: 25px;
        }
    }

    .socials {
        display: flex;
        gap: 1em;

        a {
            text-decoration: none;
        }

        .fa-brands {
            font-size: 25px;
            color: black;
        }
    }

    .second-footer-flex {
        a {
            text-decoration: none;

            h1 {
                font-size: 37px;
                font-weight: 600;
                color: black;
                margin-bottom: 10px;

                .fa-solid {
                    color: $bg-colour;
                }
            }

        }
    }

    .contact {
        display: flex;
        gap: 1em;

        p {
            color: $second-sect-h1-color;
            font-size: 19px;
            font-weight: 600;
            margin-bottom: 15px;
        }

        .underline {
            font-size: 20px;
            font-weight: 700;
            color: black;
            position: relative;
        }
    }

    .underline::after {
        content: '';
        width: 0%;
        height: 3px;
        position: absolute;
        background-color: $second-sect-color;
        left: 0;
        bottom: 0;
        transition: width .3s ease-in-out;
    }

    .underline:hover::after {
        width: 100%;
        background-color: $second-sect-color;
    }

    .fa-solid:hover {
        animation: move .9s ease-in-out;

        @keyframes move {
            from {
                transform: translateX(0px);
            }

            to {
                transform: translateX(10px);
            }
        }
    }
}

@media(max-width:990px) {
    footer {
        padding-left: 20px;

        .footer {
            flex-direction: column;
        }

        .second-footer-flex {
            a {
                h1 {
                    margin-bottom: 20px;

                    font-size: 30px;
                    font-weight: 600;
                    color: black;
                    margin-bottom: 10px;

                }
            }
        }
    }
}

@media(max-width:483px) {
    footer {
        .contact {
            flex-direction: column;
        }
    }
}